<!--- profile page where you can add posts --->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>GitHub Accountability Tracker</title>
  <meta name="description" content="100devs team quick pound">
  <meta name="author" content="100devs team quick pound">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <nav> 
    <ul>
    <li><h3> Welcome, `${username}`</h3></li> 
    <li>Home</li>
    <li>Log Out</li>
    </ul>
  </nav>
  <h1>GitHub Accountability Tracker</h1>
  <h2>What did you push today?</h2>
    <form action="/post" method='POST'>
        <label for="repo-link">GitHub Repo Link</label>
        <input type="text" id="repo-link" placeholder="Enter repo link" name='repo-link'>
        <label for="push-description">What did you push?</label>
        <input type="text" id="push-description" placeholder="Push description" name='Repository'>
        <input id ="submitRepo" type="submit">
    </form>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>