<!--- log in page --->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="images/favicon.ico" />
  <title>GitHub Accountability Tracker</title>
  <meta name="description" content="100devs team Github Accountability Tracker App">
  <meta name="author" content="100devs team Github Accountability Tracker App">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <!-- NAVBAR -->
  <nav id="navbar"> 
    <ul>
    <li><img class="logo" src="images/GaT.png"></li>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">LogOut</a></li>
    </ul>
  </nav>

<section class="main">
<div class="welcome">
</div>
<section class="top">
  <h1> Login </h1>
</section>

<section>

  <% if (locals && locals.messages && locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><h2>INFO: <%= el.msg %></h2></div>
    <% }) %>    
<% } %>
<% if (locals && locals.messages && locals.messages.info) { %>
    <% messages.info.forEach( el => { %>
        <div class="alert alert-danger"><h2>
    <% }) %>    
<% } %></h2>
</section>

<section class="form">
<form action="/login" method="POST">
<div class="form-item">
  <h2>Email</h2>
  <input type="email" placeholder="e-mail" name="email">
</div>
<div class="form-item">
  <h2>Password</h2>
  <input type="password" placeholder="8 characters" name="password" minlength="8">
</div>
<div class="form-item">
  <input type="submit" id="submit"></input>
</div>
</form>
</section>
</section>
<footer id="footer">
        <ul>
            <li>Copyright <i class="far fa-copyright"></i>2021 by <span><a href="https://spongy.com/100devs/" target="_blank">Spongy, Inc.</a></span> All rights reserved.</li>
        </ul>
</footer>
<script src="js/script.js"></script>
<script src="js/main.js"></script>
</body>
