/************************ FONTS ************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/************************ BODY ************************/
body {
    width: 100%;
    margin: auto;
    background-color: rgb(240, 244, 252);
    font-family: 'Roboto Mono', monospace;
}

/************************ NAVBAR ************************/
#navbar {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background-image: radial-gradient(blue, #010158);
    overflow: hidden;
}

#navbar  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    /* padding-left: 1rem; */
    list-style-type: none;
    font-size: 1.5rem;  
}

#navbar ul>li>a {
    padding-right: 1rem;
    color: white;
    text-decoration: none;
    align-self: center; 
    text-transform: uppercase;
}

img.logo {
  width: 60px;
  height: 60px;
  padding-right: 2rem;
  padding-bottom: 5px;
  /* flex-grow: 1; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    /* padding-top: 60px; */
  }


/* unvisited link */
#navbar ul>li>a:link {
    color: white;
  }
  
  /* visited link */
#navbar ul>li>a:visited {
    color: rgb(160, 230, 236);
  }
  
  /* mouse over link */
#navbar ul>li>a:hover {
    background-color: cornflowerblue;
  }
  
  /* selected link */
#navbar ul>li>a:active {
    color: white;
  }

/************************ MAIN SECTION ************************/ 
  .main {
      min-height: 600px;
      margin-bottom: 20px;
  }  

  .welcome {
    margin: 150px auto auto 4%;
    font-size: 1.25rem;
}

  .top {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  h1 {
    text-shadow: 1px 1px blue;
  }

  h2 {
    text-align: center;
  }

    /*----------- FORM --------------*/
  .form {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 30%;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
  }

  .form-item {
    margin-top: 15px;
  }

  .form-item input  {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: 2px solid #010158;
  }

  label::after {
    content:"\A";
    white-space: pre;
}

  input[placeholder] {
      text-align: center;
      font-family: 'Roboto Mono', monospace;
  }


  #submit {
        width: 40%;
        background-image: radial-gradient(blue, #010158);
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
  }

    /*----------- USER FEED --------------*/  
  .userFeed {
  /* margin: 10px 5%; */
  max-width: 100%;
  min-width: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
}

  .userFeed ul {
  display: flex;
  flex-direction: column;
  width: 50%;
}

  .userFeed ul li:nth-of-type(odd) {
    background-color:#ffffff;
    /* line-height: 2.25rem; */
}

  .userFeed li {
        list-style-type: none;
        margin: 10px 5%;
        padding: 20px 20px;
}

  .userFeed li span:nth-of-type(2) {     
    overflow-wrap: break-word; 
}  

  .userFeed li span:nth-of-type(3) {     
    overflow-wrap: break-word; 
}  

.postContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

  .fas {
      padding-right: 2rem;
  }

    /*----------- FOOTER --------------*/

#footer {
    height: 50px;
    width: 100%;
    margin: 50px auto auto auto;
    background-image: radial-gradient(blue, #010158);
    overflow: hidden;
    color: white;
}

#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    /* padding-left: 1rem; */
    list-style-type: none;
    font-size: 1rem;
    color: white;
}

#footer ul>li a {
    padding-right: 1rem;
    color: white;
}


/************************ MEDIA QUERY WIDTH <= 1400PX ************************/

  @media only screen and (max-width: 1400px) {

    #navbar  ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        /* padding-left: 1rem; */
        list-style-type: none;
        font-size: 1.1rem;
    }


    .form {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .form-item input  {
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    #submit {
        width: 20%;
        background-image: radial-gradient(blue, #010158);
        color: white;
        font-weight: bold;
    }

  }

  /************************ MEDIA QUERY WIDTH <= 1200PX ************************/

  @media only screen and (max-width: 1200px) {

    #navbar  ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        /* padding-left: 1rem; */
        list-style-type: none;
        font-size: 1.1rem;
    }


    .form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        font-weight: bold;
    }


    .form-item input  {
        width: 80%;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    #submit {
        width: 20%;
        background-image: radial-gradient(blue, #010158);
        color: white;
        font-weight: bold;
    }

  }

/************************ MEDIA QUERY WIDTH <= 1000PX ************************/

  @media only screen and (max-width: 1000px) {

    #navbar  ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        /* padding-left: 1rem; */
        list-style-type: none;
        font-size: 1.1rem;
    }


    .form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .form-item input  {
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    #submit {
        width: 30%;
        background-image: radial-gradient(blue, #010158);
        color: white;
        font-weight: bold;
    }

  }

/************************ MEDIA QUERY WIDTH <= 800PX ************************/

  @media only screen and (max-width: 800px) {

    #navbar  ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        /* padding-left: 1rem; */
        list-style-type: none;
        font-size: 1.1rem;
    }


    .form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .form-item input  {
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    #submit {
        width: 40%;
        background-image: radial-gradient(blue, #010158);
        color: white;
        font-weight: bold;
    }

  }


/************************ MEDIA QUERY WIDTH <= 600PX ************************/

  @media only screen and (max-width: 600px) {

    #navbar  ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        /* padding-left: 1rem; */
        list-style-type: none;
        font-size: 1.1rem;
    }


    .form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .form-item input  {
        width: 95%;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    #submit {
        width: 50%;
        background-image: radial-gradient(blue, #010158);
        color: white;
        font-weight: bold;
    }

  }

  .alert{
    text-align: center;
  }